@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="text-center">
        <h1 class="display-3 mb-5">Welcome to Digital Ledger!</h1>
        <p class="lead">
            Digital Ledger is your go-to solution for managing and keeping track of your financial transactions with ease and precision.
        </p>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="text-center">
                <i class="fas fa-user-plus fa-3x mb-3"></i>
                <h3>Register</h3>
                <p>Start by creating an account to access the app's features.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class="fas fa-list-alt fa-3x mb-3"></i>
                <h3>Manage Transactions</h3>
                <p>Add, edit, or delete transactions as you go. Keep a real-time record of your expenses and incomes.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class="fas fa-chart-line fa-3x mb-3"></i>
                <h3>Monitor & Review</h3>
                <p>Review your transactions, analyze trends, and make informed financial decisions.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center mt-5">
       

        <p>For additional information, <a href="https://docs.microsoft.com/aspnet/core">explore the ASP.NET Core documentation</a>.</p>
    </div>
</div>
